* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-primary-color);
  color: var(--text-color-primary);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
:root {
  /* Background Colors */
  --bg-primary-color: #0c0c0c;
  --bg-fill-color: rgb(221, 214, 214);
  --bg-food-color: rgba(255, 0, 0, 0.879);

  /* Text colors */
  --text-color-primary: #f0f0f0;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border radius */

  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;

  /* Border primary color */
  --border-primary-color: #d3d3d3;
}

main,
section {
  width: 100%;
  height: 100%;
}

section {
  padding: var(--space-2xl);
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: var(--space-md);
}
section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info {
  padding: var(--space-xs) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}
.board {
  border: 1px solid var(--border-primary-color);
  flex-grow: 1;
  /* border-radius: var(--border-radius-sm); */
  display: grid;
  overflow: hidden;

  /* grid-template-columns: repeat(auto-fill,minmax(30px ,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px ,1fr));  */
}
.block {
  font-size: 12px;
  border-radius: 50%;
  /* height: 30px;
    width: 30px; */
  /* border: 1px solid var(--border-primary-color); */
}
.fill {
  background-color: var(--bg-fill-color);
}
.food {
  background-color: var(--bg-food-color);
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #0c0c0c40;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}
.start-game,
.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-sm);
}
.game-over {
  display: none;
}

.btn {
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--space-sm);
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  transform: scale(1.1);
}
